*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav li.nav-item:nth-child(7) a.nav-link {
  color: blue;
}
.Book{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url(https://images.livemint.com/img/2023/02/15/1600x900/Vande_Bharat__1676446328347_1676446328597_1676446328597.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    font-size: 25px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.image-container {
    display: flex;
    align-items: center; /* Vertically align the images and text */
    justify-content: space-between; /* Space out the images and text */
    max-width: 600px; /* Set a maximum width for the container */
    margin:  auto;
    height: 100px;
     /* Center the container horizontally (optional) */
  }
  
  .image-container img {
    height: 80%;
    max-width: 75%; /* Adjust the width of the images */
     /* Maintain the aspect ratio */
  }
  .image-container img{
    margin-left: 20px;
  }
  .image-container h2 {
     /* Allow the text to take up the remaining space */
    margin: 20px; /* Add some space between the text and images */
  }
 .image-container img:last-child{
    margin-right: 20px;
 }
  #form{
    border: 2px solid white;
    background-color: grey;
  }
  #form input{
    margin: 6px;
    border-radius: 10px;
  }
  .details h1,h2{
    float: right;
  }
  .status {
    
   display: flex;
    gap: 150px;
    border-radius: 30px;
    margin: 5px;
    font-style: italic;
    padding: 5px;
  }
  


