*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
header{
    position: fixed;
    top:0px;
    width: 100%;
    z-index:1;
  
}
body{
    height: 1000px;
}
#home{
    height:500px;
    width: 90%;
    border:1px solid rgb(214, 91, 91);
    margin: auto;
    position: relative;
    top:100px;
}
#home img{
    height: 500px;
    width: 90%;
    
}

#services{
    height: 300px;
    width: 90%;
    position: relative;
    top:150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     font-family: Georgia, 'Times New Roman', Times, serif;
     padding: 0%;
     margin: auto;
}
