*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff3300 0%, #0000ff 100%);

}

.container {
    width: 35rem;
    display: flex;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    border:2px solid black; 
    box-shadow: 10px 20px 30px black;
}

.col {
    text-align: justify;
    padding: 15px;
    width: 95%;
}

#next {
    width: 90%;
    margin-left: 24px;
    background-color:#45aaf2;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    display: block;
    padding: 10px;
     border-color:black ;
     box-shadow:10px 20px 30px black ;
}

#next:hover {
    background-color: rgb(34, 6, 53);
}

.box {
    box-shadow:  grey;
    width: 100%;
}