.container{
    width: 900px;
    margin-left: 5rem;
    display: relative;
    abso
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.pha{
background-color:rgb(180, 239, 31);
padding: 20rem 10rem;
}

.phaa{
    background-color: #bab9b9a1;
    padding: 6rem 10rem;
}

.ph{
    background-color: blueviolet;
    padding: 6rem 10rem;

}