*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image:url("https://cdn.pixabay.com/photo/2013/07/25/13/01/stones-167089_1280.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
   }
#Education {
    border:4px solid black;
    height: 580px;
    width: 650px;
    padding: 25px;
    background-color:r(50, 49, 49);
    color:white;
    border-radius: 20px;
     box-shadow: 10px 20px 30px black;
}

#Education_Appointment_Form  h2{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1.5em;
}
.giving_data input{
    margin:10px;
    padding: 10px;
   width: 290px;
   border-radius: 5px;
   border-style: none;
}
.selection input{
    margin:10px;
    padding: 10px;
   width: 300px;
   border-radius: 5px;
   border-style: none;
}
.course,.course2,.course3,select{
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content:left;
    border-radius: 10px;
   
}
.color a{
  color: black;
}
.context input{
    margin:1rem;
    font-size: larger;
 }

.register_btn{
    display: flex;
    justify-content:left;
    margin: 5px;
    padding: 5px;
}
.register_btn button{
    background-color: green;
    color:white;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border-style: none;
}
.register_btn button:hover{
    background-color: rgb(59, 162, 59);
}
