/* Add your previous styles here */

/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0078d4;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    color: #fff;
}

.menu-toggle {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    display: none;
}

#menu {
    list-style-type: none;
    display: flex;
}

#menu li {
    margin: 0 15px;
}

#menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Add more custom styling as needed */

/* Responsive styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    #menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #0078d4;
        border-radius: 5px;
    }

    #menu.show {
        display: flex;
    }

    #menu li {
        margin: 15px 0;
    }
}
