h1,h2,h3 {
    color:black;
    background-color: burlywood;
    font-size: 30;
    font-style: normal;
}

img {width: 400px;
    height: 350px;
}
figure {
    text-align: center;
}
.centered {
    text-align: center;
}
table, th, td {
    border: 1px solid;
    text-align: center;
}
h1,h2,h3 {
    text-align: center;
}