*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* Navbar Start */
#navbar{
    background: white;
    position: fixed;
    z-index:1 ;
    width: 100%;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    margin-bottom: 5px;
}
#logo span{
    color: orange;
}
.navbar-toggler span{
    color: orange;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: orange;
    color: white;
}
#navbar form button{
    background: orange;
    color: white;
    border: none;
}
/* Navbar End */

/* Home Section Start */
.home{
    display: block;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(https://static.vecteezy.com/system/resources/previews/022/006/241/non_2x/travel-abstract-background-with-transport-and-nature-trip-backdrop-generative-ai-photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: black;
}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow:  black;
    margin-top: 5px;
}
.changecontent::after{
    content: ' ';
    color:orange;
    text-shadow:  black;
    animation: text 2s infinite linear;
}
@keyframes text{
    0%{content: "World";}
   
} 
.home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    
}
.home .content a:hover{
    background: orange;
    color: white;
}

/* Home Section End */

/* Section Book Start */
.book{
    background: white;
    padding: 50px;
}
.main-text h1{
    text-align: center;
    font-weight: 600;
}
.main-text h1 span{
    color:orange;
}
.book .card{
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow:  black;
}
.book form textarea{
    border-radius: 10px;
    box-shadow:  black;
    height: 200px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background:orange;
    color: white;
    margin-top: 10px;
}
.book .submit:hover{
    width: 170px;
}

/* Section Book End */

/* Section Packages Start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: black;
}
.main-txt h1 span{
    color: #ffa500;
}
.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: 10px 10px 10px rgb(176, 124, 28);
}
.packages .card img{
    border-radius: 5px;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size: 15px;
}
.checked{
    color:orange;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    font-size: 20px;
}
.packages .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background:orange;
    color: white;
    border-radius: 5px;
}
/* Section Packages End */


/* About Start */
.about{
    padding: 50px;
    margin-top: 50px;
    background:white;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-weight: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background:orange;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    
}
#about-btn:hover{
    width: 170px;
}

/* About End */

/* Footer Start */
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: white;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow:  black;
}
#footer h1 span{
    color:orange;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.social-links i:hover{
    background: orange;
}
/* Footer End */
   

