body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
  }
  
  #display {
    width: 230px;
    height: 30px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .btn:hover {
    background-color:orangered;
  }
  